
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup system</title>
    <style>
        label{
            font-size: 1.3em;
        }
    </style>
<html>
<head>
  <title>Signup Page</title>
  <h1>Signup Management System</h1>
</head>
<body>
  <h1>Signup for an account</h1>
  <form>
    <form action="/singup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword"><br><br>
    <button type="submit">Signup</button>
    <input type="submit" value="Signuppl">
    <a href="/login">Have an account?</a>
  </form>
</form>
</body>
</html>
